
@import "partials/normalize";
@import "partials/variables";
@import "partials/header";
@import "partials/main";
@import "partials/gallery";
@import "partials/recipes";
//--------------------------------------------------

$primary-color: #f6c417;
$secondary-color: #578998;
$lightgray: #d7d5c7;
$black: #3a3a3a;
