footer{
	background-color: $black;
	clear:both;
	p{
		text-align:center;
		color: $primary-color;
		margin:0;
		padding-top:40px;
		padding-bottom: 40px;
	}
	.logo-footer__container{
		float:left;
		width:30%;
	}
	.logo-footer{
		margin:0;
		padding:0;
		width:80px;
		fill:$primary-color;
		svg{
			margin:0;
			padding: 0;
		}
	}
	.copyright{
		width:40%;
		float:left;
	}
	.apiCredit{
		display: inline-block;
		float:left;
		width:30%;
		p{
			display:inline-block;
			width:150px;
			float:left;
		}
		}
	.apiCredit__logo-yummly, .apiCredit__logo-movieDb{
		img{
			width:100px;
		}
	}
	.apiCredit__logo-yummly{
		img {
			padding-top: 15px;
		}
	}
}