#dynamicContent {
	padding: 4%;
}

.movie__gallery {
	height: 100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $secondary-color;
}

.movie__gallery--overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0;
}

.movie__container {
	display: inline-block;
	width: calc((100%/4) - 2%);
	margin: 1%;
	position: relative;
	transition: all 0.15s ease-in;
	&:hover {
		transform: scale(1.01);
	}
	cursor: pointer;
}

.movie__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block;
	font-size: 0;
	z-index: 200;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.18);
	background:  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.4)
    );

}

.movieImage {
	position: relative;
	max-width: 100%;
}

.movie__info--container {
	position: absolute;
	top: 50%;
	right: 10%;
	transform: translateY(-50%);
	width: 60%;
	a {
		opacity: 0;
	}
}

.movie__descrip {
	font-size: 2.1rem;
	color: $primary-color;
	opacity: 0;
}

.movie__summary {
	font-weight: 300;
	font-size: 1.3rem;
	color: #fff;
	opacity: 0;
}