//Pie nav section styling 

section {
	height: 100vh;
	margin: 0;
	padding: 0;
}

nav {
	clear:both;
}

svg {
	position: relative;
}

.userSelectionSection__header {
	text-align: center;
	color:$black;
	padding-top: 30px;
}
.userSelectionSection {
	height: 100vh;
	// background: linear-gradient($secodary-two, $secondary-two), url(../../public/assets/theatre.jpg) no-repeat; 
	// // background-image: url(../../public/assets/theatre.jpg);
	// background-size: cover;
	background: $lightgray;  /* fallback for old browsers */
// background:linear-gradient(to right, $secondary-color, $black);

	position: relative;
		.overlay{
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		width: 100%;
		height: 100%;
		// background-color: $black;
		// mix-blend-mode:multiply;
	}
}


.decade__selector {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%)
}

.circle__menu--container {
	position: relative;
}

.mobile {
	position: fixed;
	top: 0;
	width: 100%;
	display: none;
}

.mobile__menu--container {
	text-align: center;
	margin: 0 auto;
}

.mobile__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.mobile__list li {
	float: left;
	height: calc(100vh/4);
	display: inline-block;
	width: calc(100%/2);
	padding: 4.5%;
	background-color: $secondary-color;
	cursor: pointer;
	color: #fff;
	&:hover {
		background-color: $lightgray;
	}
}

.decade__selector--mobile {
	text-align: center;
	height: 10vh;
}

.decade__selector--mobile p {
	float: left;
}

#piemenu > svg { width: 100%; height: 100vh }
#piemenu { height: 900px; width: 900px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] { fill: $black; stroke: none; }
[class|=wheelnav-piemenu-slice-selected] { fill: $secondary-color; stroke: none; }
[class|=wheelnav-piemenu-slice-hover] { fill: $secondary-color-two;  stroke: none; fill-opacity: 0.77; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill: $primary-color; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #222; stroke: none; cursor: pointer; }
[class|=wheelnav-piemenu-title] > tspan { font-family: "Oswald", sans-serif; font-size: 22px; fill: #fff;}

.wheelnav-piemenu-marker { stroke: #f6c417; stroke-width: 2; }

// responsive styling 

//medium responsive styling 
@media (max-width: 790px) {
	.mobile {
		display: block;
	}
}


