.recipes__section {
	background: $black;
}

.recipe__card__wrapper {
	display: inline-block;
	width: calc((100%/4) - 2%);
	margin: 1%;
	cursor: pointer;
	position: relative;
	img {
		width: 100%;
		border-radius: 50%;
	}
	h2 {
		position: absolute;
		width: 80%;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 1.3em;
		letter-spacing: 2px;
		font-weight: 300;
		color: $primary-color;
		font-family: 'Oswald', sans-serif;
	}
	.recipe__info {
	position: absolute;
	display:inline-block;
	visibility: hidden;
	}
	.recipe__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: inline-block;
		border-radius: 50%;
		background:  linear-gradient(
	      to bottom,
	      rgba(255, 255, 255, 0.1),
	      rgba(0, 0, 0, 0.7),
	      rgba(0, 0, 0, 0.9)
	    );
	}
}

.recipe__card__wrapper:hover {
	transform: scale(1.01);
	.recipe__info {
		visibility: visible;
	}
}





