$primary-color: #f6c417;
$secondary-color: #578998;
$lightgray: #d7d5c7;
$black: #3a3a3a;
$primary-color-two:rgba(246, 196, 23, 0.5);
$secondary-color-two:rgba(87, 137, 152, 0.5);
$lightgray-two:rgba(215, 213, 199, 0.5);
$black-two:rgba(58, 58, 58, 0.5);